PORT=5000
MONGO_URI=mongodb://127.0.0.1:27017/hdmicrofinance
JWT_SECRET=hdmicrofinance-dev-secret
JWT_EXPIRES_IN=1h
FINTECH_CLIENT_ID=hdmicrofinance-client
FINTECH_CLIENT_SECRET=hdmicrofinance-secret

NIBSS_BASE_URL=https://nibss.cowriesys.com
NIBSS_CLIENT_ID=your_client_id
NIBSS_CLIENT_KEY=your_base64_client_key
NIBSS_MOCK_MODE=true
NIBSS_BVN_ONBOARDING_PATH=/api/validateBvn
NIBSS_NIN_ONBOARDING_PATH=/api/validateNin
NIBSS_TEST_BVNS=22222222281
NIBSS_TEST_NINS=12345678901
